<h1>Create new training</h1>

<%= simple_form_for [@training, @bloc] do |f| %>
  <%= f.input :quantity %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<%= link_to "back", root_path %>
