// Specific CSS for your home-page

.cards {
  display: flex;
  // grid-template-columns: 1fr 1fr 1fr 1f;
  grid-gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.card {
  width: 350px;
  height: 500px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-radius: 7px;
  position: relative;

  .edit-link {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.card-title{
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bloc {
  display: flex;
  border-bottom: blue 1px dashed;
}

.bloc-quantity{
  margin-right: 10px;
  margin-left: 5px;
  align-self: center;
}

.lines{
  justify-content: left;
}

.line{
  display:flex;
  align-items: center;

  .line-left {
    width: 150px;
  }
}



a:link{
  text-decoration: none;
}
