// Specific CSS for your home-page
.index-page {
  //background-color: #6f93c0;
  background: radial-gradient(circle, #3381ee, #81aee2);
  // background: radial-gradient(circle, #4877b8, #2c67aa);
}

.container {
  background-color: none;
  padding: 0;
  position: relative; // in order to position the right and left arrows
}

.navbar {
  background-color: #787878;
}
.navbar-nav{
  align-items: center;
}
.dropdown {
margin-left: 5px;
}

.nav-link {
  margin-left:0px;
}


.container-title {
  text-align: center;
}
.cards .card {
  box-sizing: border-box;
}

.cards {
  box-sizing: border-box;
}

.cards {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  overflow-x: auto;
  // position: relative; /* Add this line */
}


.cards .card {
  flex: 0 0 calc((100% / 3) - 3.35%);
  height: 500px;
  margin-left: 3%;
  scroll-snap-align: start;
  position: relative;
  background-color: #A5B5BF;
  // #ebeb40fc test color for card , more yellow instead of gray
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 29% 28% 33% 17% / 15% 0% 22% 1%;
}

// in case need to change the margin of first card
// .cards .card.first-card{
//   margin-left: 3%;
//   background-color: yellow !important;
// }

.card .card:last-child{
  margin-right :3%;
}


.card {
.card-title{
  padding-right: 5px;
  padding-left: 40px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1658d2;
  border-radius: 5px;
  margin-bottom: 10px;
}


.edit-link {
  position: absolute;
  bottom: 0;
  left: 0;
}

.card .button-edit,
.card .button-delete {
display: inline-block;
padding: 8px 12px;
background-color: #ff4081;
color: #fff;
border: none;
border-radius: 5px;
text-decoration: none;
font-weight: bold;
text-transform: uppercase;
cursor: pointer;
transition: background-color 0.3s ease;
margin-top: 10px;
}
}

.bloc {
  display: flex;
  border-bottom: #1658d2 1px dashed;
}

.bloc-quantity{
  margin-right: 25px;
  margin-left: 5px;
  align-self: center;
}

.lines{
  justify-content: left;
}

.line{
  display:flex;
  align-items: center;
  margin-top: 10px;

  .line-left {
    width: 150px;
  }

  .line-right {
    width: 60px;
  }
}


a:link{
  text-decoration: none;
}

.cards::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent; /* Set the background color of the scrollbar to transparent */
}

.cards::-webkit-scrollbar-track {
  background: transparent; /* Set the background color of the scrollbar track to transparent */
}
// if we want the scrollbar back, uncomment the following lines

// .cards::-webkit-scrollbar-thumb {
//   background: rgba(255, 255, 255, 0.3); /* Set the background color of the scrollbar thumb to almost transparent white */
//   border-radius: 2.5px;
// }

.cards::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5); /* Set the background color of the scrollbar thumb on hover to a slightly more visible color */
}


// Css for phone screen
@media (max-width: 768px) {
  /* adjust size for screens smaller than 768px */
  .card {
    width: 280px;
    height: 400px;
  }

  .footer {
    display: none;
  }
}
