
.arrow-icon {
  position: absolute;
  top: 50%;
  font-size: 24px;
  // color: white;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.cards .left-arrow {
  left: 1%; /* Position at the left edge */

}

.cards .right-arrow {
  right: -1%; /* Position at the right edge */

}

.hidden {
  display: none;
}
